*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    background-color:azure;
}
#digital{
    background-color:mintcream;
    font-size: 100px;
    border:1px solid black;
    text-align: center;
    margin:250px;
    border-radius:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight:bold;
}
